# Copy this file to .env and fill in your values

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/watchvault?retryWrites=true&w=majority
PORT=5000
# Vault Password (for delete/edit protection)
VAULT_PASSWORD=your_pass
CLIENT_URL=http://localhost:3000
NODE_ENV=development
